<div class="bg-[#f3f9f8] text-gray-800 py-8 overflow-hidden min-h-[300px] flex items-center">
  <div class="container px-4 lg:px-8 grid grid-cols-1 md:grid-cols-2 gap-12 text-sm text-center md:text-left">
    <div class="md:text-left text-center">
      <h2 class="text-3xl font-bold text-teal-600 mb-4">Logo</h2>
      <p class="mb-2 text-lg"><strong>Location:</strong> Isr Street girlt awam juim</p>
      <p class="mb-2 text-lg"><strong>Contact:</strong> +9 5555559909</p>
      <p class="mb-2 text-lg"><strong>Time:</strong> (9am – 5pm EST, Monday – Friday)</p>
      <p class="mb-2 text-lg"><strong>Email:</strong> youme&#64;Rule.com</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

      <div class="text-center md:text-left">
        <h3 class="text-3xl font-semibold mb-4">Company</h3>
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Case Studies</a></li>
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Case Details</a></li>
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Privacy Policy</a></li>
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Services</a></li>
        </ul>
      </div>
      <div class="text-center md:text-left">
        <h3 class="text-3xl font-semibold mb-4">Explore</h3>
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">About Us</a></li>
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Blog And News</a></li>
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Blog Details</a></li>
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Pricing</a></li>
        </ul>
      </div>

      <div class="text-center md:text-left">
        <h3 class="text-3xl font-semibold mb-4">Insurance</h3>
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Health Insurance</a></li>
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Car Insurance</a></li>
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Business Insurance</a></li>
          <li><a href="#" class="text-gray-600 hover:text-teal-600 text-lg">Life Insurance</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>