<div class="bg-[#f8f8f8] flex flex-col md:flex-row items-center bg-gray-100 p-8 md:p-12 lg:p-16 gap-8 md:gap-12">
    <div class="w-full md:w-1/2 flex justify-center mb-8 md:mb-0">
      <img
        src="assets/whychooseus_img.png"
        alt="Family"
        class="max-w-full h-auto"
      />
    </div>
    <div class="w-full md:w-1/2 text-center md:text-left">
      <h2 class="text-md uppercase text-teal-600 font-semibold mb-2">Why Choose Us</h2>
      <h1 class="text-5xl font-bold text-gray-800 mb-4">
        Our Company Has Been Working Very Faithfully
      </h1>
      <p class="text-gray-600 mt-6 mb-6 text-xl">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat
        elementum. Urna eu et purus et mi sit rhoncus. Id nisl quis arcu nulla leo.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex items-center p-4 bg-white border border-white-300 rounded-sm shadow">
          <i class="fas fa-circle-check" style="color: #308a7a; margin-right: 0.5rem;"></i>
          <span>Protective Protection</span>
        </div>
        <div class="flex items-center p-4 bg-white border border-white-300 rounded-sm shadow">
          <i class="fas fa-circle-check" style="color: #308a7a; margin-right: 0.5rem;"></i>
          <span>Money Back Guarantee</span>
        </div>
        <div class="flex items-center p-4 bg-white border border-white-300 rounded-sm shadow">
          <i class="fas fa-circle-check" style="color: #308a7a; margin-right: 0.5rem;"></i>
          <span>Homeowner Insurance</span>
        </div>
        <div class="flex items-center p-4 bg-white border border-white-300 rounded-sm shadow">
          <i class="fas fa-circle-check" style="color: #308a7a; margin-right: 0.5rem;"></i>
          <span>Partnership System</span>
        </div>
        <div class="flex items-center p-4 bg-white border border-white-300 rounded-sm shadow">
          <i class="fas fa-circle-check" style="color: #308a7a; margin-right: 0.5rem;"></i>
          <span>Consultations</span>
        </div>
        <div class="flex items-center p-4 bg-white border border-white-300 rounded-sm shadow">
          <i class="fas fa-circle-check" style="color: #308a7a; margin-right: 0.5rem;"></i>
          <span>Safety Ensure</span>
        </div>
      </div>
    </div>
  </div>
  